In [3]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import NoSuchElementException,ElementClickInterceptedException
from selenium.common.exceptions import StaleElementReferenceException
import time
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.action_chains import ActionChains
from itertools import repeat
import warnings
warnings.filterwarnings('ignore')

## Yatra.com

In [128]:
driver = webdriver.Chrome(r"C:\Program Files (x86)\chromedriver.exe")
driver.maximize_window()
driver.get("https://www.yatra.com/")
# page down
for i in range(0,1):
    actions = ActionChains(driver)
    for _ in range(0,1):
        actions.send_keys(Keys.PAGE_DOWN).perform()

In [129]:
places = []
list_ = driver.find_elements_by_xpath("//div[@class='right_data']/div[2]/ul/li")
for i in list_:
    i.click()
    time.sleep(3)
    place_lnk = driver.find_elements_by_xpath("//*[@id='themeSnipe']/section/div[2]/div[2]/div/div/div/div[1]/div/a")
    for i in place_lnk:
        places.append(i.get_attribute('href'))

In [130]:
print(len(places))

55

In [131]:
Flight_Name = []
Departure_time = []
Arrival_time = []
Source = []
Destination = []
No_of_Stop = []
Duration = []
Date_of_journey = []
Price = []

for i in places:
    driver.get(i)
    #page down
    for i in range(0,1):
        actions = ActionChains(driver)
        for _ in range(0,1):
            actions.send_keys(Keys.PAGE_DOWN).perform()

    fN = driver.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span")
    for i in fN:
        Flight_Name.append(i.text)
 
    dt = driver.find_elements_by_xpath("//div[@class='fs-15 bold time']/div")
    for i in dt:
        Departure_time.append(i.text)
        
    at = driver.find_elements_by_xpath("//div[@class='i-b pdd-0 text-left atime col-5']/p[1]")
    for i in at:
        Arrival_time.append(i.text)
            
    src = driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']/p")
    for i in src:
        Source.append(i.text)
            
    dest = driver.find_elements_by_xpath("//div[@class='i-b pdd-0 text-left atime col-5']/p[2]")
    for i in dest:
        Destination.append(i.text)
            
    nt = driver.find_elements_by_xpath("//div[@class=' font-lightgrey fs-10 tipsy i-b fs-10']/span")
    for i in nt:
        No_of_Stop.append(i.text)
            
    durtn = driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']/p")
    for i in durtn:
        Duration.append(i.text)
             
    dtj = driver.find_elements_by_xpath("//div[@class='day-li text-center cursor-pointer pr active font-primary-color']/p[1]")
    for j in dtj:
        Date_of_journey.append(j.text)
        
    price = driver.find_elements_by_xpath("//div[@class='text-right booking-section no-wrap']/div/div/label/div/div[2]")
    for j in price:
        Price.append(j.text)

In [132]:
yatra = pd.DataFrame({})
yatra['Flight Name'] = Flight_Name
yatra['Departure time'] = Departure_time
yatra['Arrival time'] =  Arrival_time
yatra['Source'] = Source
yatra['Destination'] = Destination
yatra['No of Stop'] = No_of_Stop
yatra['Duration'] =  Duration
yatra['Date of Journey'] = Date_of_journey*10
yatra['Price'] = Price
yatra

,Flight Name,Departure time,Arrival time,Source,Destination,No of Stop,Duration,Date of Journey,Price
0,IndiGo,07:15,09:25,New Delhi,Mumbai,Non Stop,2h 10m,"Mon, 21 Feb","2,410"
1,IndiGo,12:00,14:10,New Delhi,Mumbai,Non Stop,2h 10m,"Thu, 3 Mar","2,410"
2,IndiGo,17:15,19:25,New Delhi,Mumbai,Non Stop,2h 10m,"Wed, 16 Feb","2,410"
3,IndiGo,18:40,20:50,New Delhi,Mumbai,Non Stop,2h 10m,"Sat, 12 Mar","2,410"
4,IndiGo,23:35,01:45\n+ 1 day,New Delhi,Mumbai,Non Stop,2h 10m,"Wed, 9 Feb","2,410"
...,...,...,...,...,...,...,...,...,...
535,Go First,13:30,22:15,Pune,Lucknow,1 Stop,8h 45m,"Fri, 11 Feb","3,945"
536,Go First,12:15,22:15,Pune,Lucknow,1 Stop,10h 00m,"Sat, 5 Feb","3,945"
537,Go First,20:55,07:00\n+ 1 day,Pune,Lucknow,1 Stop,10h 05m,"Sun, 27 Feb","3,945"
538,Go First,19:10,07:00\n+ 1 day,Pune,Lucknow,1 Stop,11h 50m,"Fri, 11 Feb","3,945"
539,Go First,20:55,10:15\n+ 1 day,Pune,Lucknow,1 Stop,13h 20m,"Fri, 25 Feb","3,945"

In [ ]:
driver.close()

## Easymytrip.com

In [122]:
driver = webdriver.Chrome(r"C:\Program Files (x86)\chromedriver.exe")
driver.maximize_window()
driver.get("https://www.easemytrip.com/")
#page down
for i in range(0,1):
    actions = ActionChains(driver)
    for _ in range(0,1):
        actions.send_keys(Keys.PAGE_DOWN).perform()

In [123]:
href = []
lnk = driver.find_elements_by_xpath("//div[@class='lft_block']/div/ul/li[1]/a[1]")
lnk2 = driver.find_elements_by_xpath("//div[@class='rit_block']/div/ul/li[1]/a[1]")
for i in lnk:
    href.append(i.get_attribute('href'))
for i in lnk2:
    href.append(i.get_attribute('href'))

In [124]:
print(len(href))

12

In [125]:
Flight_Name = []
Departure_time = []
Arrival_time = []
Source = []
Destination = []
No_of_Stop = []
Duration = []
Date_of_journey = []
Price = []

for i in href:
    driver.get(i)
    #page down
    for i in range(0,1):
        actions = ActionChains(driver)
        for _ in range(0,1):
            actions.send_keys(Keys.PAGE_DOWN).perform()
            
    try:
        fN = driver.find_elements_by_xpath("//span[@class='txt-r4 ng-binding']")
        for i in fN:
            Flight_Name.append(i.text)
    except NoSuchElementException:
        Flight_Name.append('-')
     
    try:
        dt = driver.find_elements_by_xpath("//div[@class='col-md-2 col-sm-2 col-xs-4 top5 ']/span[1]")
        for i in dt:
            Departure_time.append(i.text)
    except NoSuchElementException:
        Departure_time.append('-')
    
    try:
        at = driver.find_elements_by_xpath("//div[@class='col-md-2 col-sm-2 col-xs-3 top5']/span[1]")
        for i in at:
            Arrival_time.append(i.text)
    except NoSuchElementException:
        Arrival_time.append('-')
        
    try:    
        src = driver.find_elements_by_xpath("//div[@class='col-md-2 col-sm-2 col-xs-4 top5 ']/span[2]")
        for i in src:
            Source.append(i.text)
    except NoSuchElementException:
        Source.append('-')
            
    dest = driver.find_elements_by_xpath("//div[@class='col-md-2 col-sm-2 col-xs-3 top5']/span[2]")
    for i in dest:
        Destination.append(i.text)
    
    try:
        nt = driver.find_elements_by_xpath("//div[@class='col-md-2 col-sm-2 col-xs-5 non-st']/span[2]")
        for i in nt:
            No_of_Stop.append(i.text)
    except NoSuchElementException:
        No_of_Stop.append('-')
    
    try:
        durtn = driver.find_elements_by_xpath("//div[@class='col-md-2 col-sm-2 col-xs-5 non-st']/span[1]")
        for i in durtn:
            Duration.append(i.text)
    except NoSuchElementException:
        Duration.append('-')
        
    try:     
        dtj = driver.find_elements_by_xpath("//div[@class='ai-d fnt17']/label")
        for j in dtj:
            Date_of_journey.append(j.text)
    except NoSuchElementException:
        Date_of_journey.append('-')
    
    try:
        price = driver.find_elements_by_xpath("//div[@class='col-md-12 col-sm-12 main-bo-lis pad-top-bot ng-scope']/div[1]/div[5]/div[1]/div[2]")
        for j in price:
            Price.append(j.text)
    except NoSuchElementException:
        Price.append('-')
        

    #page down
    for i in range(0,1):
        actions = ActionChains(driver)
        for _ in range(0,1):
            actions.send_keys(Keys.PAGE_UP).perform()

In [126]:
EMT = pd.DataFrame({})
EMT['Flight Name'] = Flight_Name
EMT['Departure time'] = Departure_time
EMT['Arrival time'] =  Arrival_time
EMT['Source'] = Source
EMT['Destination'] = Destination
EMT['No of Stop'] = No_of_Stop
EMT['Duration'] =  Duration
EMT['Date of Journey'] = Date_of_journey*20
EMT['Price'] = Price
EMT

,Flight Name,Departure time,Arrival time,Source,Destination,No of Stop,Duration,Date of Journey,Price
0,SpiceJet,06:20,08:40,Delhi,Mumbai,Non-Stop,02h 20m,29 Jan,2277
1,SpiceJet,07:20,09:35,Delhi,Mumbai,Non-Stop,02h 15m,14 Jan,2277
2,SpiceJet,19:45,22:05,Delhi,Mumbai,Non-Stop,02h 20m,29 Jan,2277
3,Indigo,07:25,16:05,Delhi,Mumbai,1-Stop,08h 40m,29 Jan,2277
4,Indigo,05:50,16:05,Delhi,Mumbai,1-Stop,10h 15m,29 Jan,2277
...,...,...,...,...,...,...,...,...,...
235,Indigo,21:20,12:35,Delhi,Dubai,1-Stop,16h 45m,30 Jan,31541
236,FlyDubai,11:50,14:15,Delhi,Dubai,Non-Stop,03h 55m,15 Jan,31896
237,Indigo,20:00,03:45,Delhi,Dubai,1-Stop,09h 15m,29 Jan,35002
238,Air India,18:10,19:00,Delhi,Dubai,1-Stop,26h 20m,30 Jan,35284
239,Air India,12:10,17:30,Delhi,Dubai,2+-Stops,30h 50m,02 Jan,35830

In [127]:
driver.close()

## travolook.in

In [71]:
driver = webdriver.Chrome(r"C:\Program Files (x86)\chromedriver.exe")
driver.maximize_window()
driver.get("https://www.travolook.in/")
#page down
for i in range(0,4):
    actions = ActionChains(driver)
    for _ in range(0,1):
        actions.send_keys(Keys.PAGE_DOWN).perform()

In [11]:
href = []
lnk = driver.find_elements_by_xpath("//section[@class='hmcontent']/div/ul/li/a")
for i in lnk:
    href.append(i.get_attribute('href'))

In [12]:
print(len(href))

112

In [72]:
Flight_Name = []
Departure_time = []
Arrival_time = []
Source = []
Destination = []
No_of_Stop = []
Duration = []
Duration_n = []
Date_of_journey = []
Price = []

for i in href:
    driver.get(i)
    srch = driver.find_element_by_xpath("//*[@id='searchengine_btn']").click()
    # scrape data
    try:
        fN = driver.find_elements_by_xpath("//div[@class='col-3 col-sm-3 pdl0 pdr0 airline']/span")
        for i in fN:
            Flight_Name.append(i.text)            
    except NoSuchElementException:
        Flight_Name.append('-')
     
    try:
        dt = driver.find_elements_by_xpath("//div[@class='col-6 col-sm-6 airtime pdl0 pdr0']/div[1]/b")
        for i in dt:
            Departure_time.append(i.text.split()[0])
    except NoSuchElementException:
        Departure_time.append('-')
    
    try:
        at = driver.find_elements_by_xpath("//div[@class='col-6 col-sm-6 airtime pdl0 pdr0']/div[3]/b")
        for i in at:
            Arrival_time.append(i.text.split()[0])
    except NoSuchElementException:
        Arrival_time.append('-')
        
    try:    
        src = driver.find_elements_by_xpath("//div[@class='col-6 col-sm-6 airtime pdl0 pdr0']/div[1]/b/small")
        for i in src:
            Source.append(i.text)
    except NoSuchElementException:
        Source.append('-')
            
    dest = driver.find_elements_by_xpath("//div[@class='col-6 col-sm-6 airtime pdl0 pdr0']/div[3]/b/small")
    for i in dest:
        Destination.append(i.text)
    
    try:
        nt = driver.find_elements_by_xpath("//div[@class='col-3 timstop text-center pdl0 pdr0']/span/small")
        for i in nt:
            No_of_Stop.append(i.text)
    except NoSuchElementException:
        No_of_Stop.append('-')
    
    try:
        durtn = driver.find_elements_by_xpath("//div[@class='resultwaybx div_outbound']/div/div[1]/div/div[3]/span")
        for i in durtn:
            Duration.append(i.text)
    except NoSuchElementException:
        Duration.append('-')
        
    try:     
        dtj = driver.find_elements_by_xpath("//*[@id='Fly_depdate']")
        for j in dtj:
            Date_of_journey.append(j.get_attribute('value'))
    except NoSuchElementException:
        Date_of_journey.append('-')
    
    try:
        price = driver.find_elements_by_xpath("//div[@class='resultwaybx div_outbound']/div/div[2]/p[1]")
        for j in price:
            Price.append(j.text)
    except NoSuchElementException:
        Price.append('-')

In [117]:
n = []
p = []
F_Name = []
n1 = []
p1 = []
Duration_n = []

for i in Flight_Name:
    n.append(i.split())
for i in n:
    p.append(i.pop())
for i in n:
    F_Name.append(' '.join(i))
    
for i in Duration:
    n1.append(i.split(maxsplit=2))
for j in n1:
    p1.append(j.pop())
    
for k in n1:
    Duration_n.append(' '.join(k))

In [120]:
travolook = pd.DataFrame({})
travolook['Flight Name'] = F_Name[0:10000]
travolook['Departure time'] = Departure_time[0:10000]
travolook['Arrival time'] =  Arrival_time[0:10000]
travolook['Source'] = Source[0:10000]
travolook['Destination'] = Destination[0:10000]
travolook['No of Stop'] = No_of_Stop[0:10000]
travolook['Duration'] =  Duration_n[0:10000]
travolook['Date of Journey'] = (Date_of_journey*129)[0:10000]
travolook['Price'] = Price[0:10000]
travolook

,Flight Name,Departure time,Arrival time,Source,Destination,No of Stop,Duration,Date of Journey,Price
0,IndiGo,05:40,07:55,Ahmedabad,Bengaluru,Non Stop,2h 15m,10 Feb 22,5899
1,IndiGo,08:35,10:55,Ahmedabad,Bengaluru,Non Stop,2h 20m,10 Feb 22,5899
2,IndiGo,19:40,21:55,Ahmedabad,Bengaluru,Non Stop,2h 15m,10 Feb 22,5899
3,Go First,08:20,10:20,Ahmedabad,Bengaluru,Non Stop,2h 00m,10 Feb 22,5898
4,Go First,21:30,23:40,Ahmedabad,Bengaluru,Non Stop,2h 10m,10 Feb 22,5898
...,...,...,...,...,...,...,...,...,...
9995,Vistara,22:45,12:35+1D,Mumbai,Hyderabad,1 Stop,13h 50m,10 Feb 22,9877
9996,Vistara,06:00,19:55,Mumbai,Hyderabad,1 Stop,13h 55m,10 Feb 22,9877
9997,Vistara,21:55,12:35+1D,Mumbai,Hyderabad,1 Stop,14h 40m,10 Feb 22,9877
9998,Vistara,06:30,22:55,Mumbai,Hyderabad,1 Stop,16h 25m,10 Feb 22,9877
9999,Vistara,22:45,17:00+1D,Mumbai,Hyderabad,1 Stop,18h 15m,10 Feb 22,9877

In [121]:
driver.close()

In [136]:
Flight_data = pd.concat([yatra,EMT,travolook],axis = 0)
Flight_data = Flight_data.sample(frac = 1)
Flight_data

,Flight Name,Departure time,Arrival time,Source,Destination,No of Stop,Duration,Date of Journey,Price
5205,Air India,23:00,07:50+1D,Goa In,Hyderabad,2 Stops,32h 50m,10 Feb 22,5368
3707,Vistara,09:30,16:55,Delhi,Kolkata,1 Stop,7h 25m,10 Feb 22,12988
887,Go First,16:45,02:40+1D,Bengaluru,Ahmedabad,1 Stop,9h 55m,10 Feb 22,4100
2390,Air India,07:35,12:05+1D,Bengaluru,Pune,3 Stops,28h 30m,10 Feb 22,5530
4716,AirAsia I.,09:00,11:40,Chennai,Jaipur,Non Stop,2h 40m,10 Feb 22,7351
...,...,...,...,...,...,...,...,...,...
9212,Air India,15:35,08:55+1D,Mumbai,Bengaluru,2 Stops,17h 20m,10 Feb 22,5243
697,Air India,22:20,23:05+1D,Ahmedabad,Mumbai,2 Stops,24h 45m,10 Feb 22,7541
3011,Vistara,15:30,22:50,Delhi,Bengaluru,1 Stop,7h 20m,10 Feb 22,10678
9753,Air India,08:00,12:10+1D,Mumbai,Guwahati,1 Stop,28h 10m,10 Feb 22,4963
8621,Air India,08:55,08:50+1D,Lucknow,Kolkata,2 Stops,23h 55m,10 Feb 22,6482

In [137]:
Flight_data.to_csv('Flight_data.csv')